* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* BODY */

body {
	font-size: 100%;
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}

/* HEADER */

header {
    background: #272727;
    color: whitesmoke;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: gray 3px solid;
    margin-bottom: 40px;
}

header :is(h1) {
    text-align: center;
}

/* FOOTER */

footer {
    padding: 20px;
    margin-top: 100px;
    color: white;
    background-color: #272727;
    text-align: center;
    border-top: gray 3px solid;
}

/* TABLE */

#calendarTable {
    margin: auto;
    width: 1000px;
}

/* FLEXBOXES */

.flexboxContainer {
    display: flex;
}

.flexboxContainer :is(div) {
    width: 120px;
    min-height: 36px;
    margin: 1px;
    padding: 4px;
    border: 1px black solid;
    border-radius: 1px;
    word-break: break-all;
    text-align: center;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.inputContainer :is(span) {
    width: 10ch;
}

/* SPACERS */

.spacer {
    height: 20px;
}

/* USER INPUT */

#userInput {
    margin: auto;
    width: 994px;
    height: 100px;
}

/* table {
    margin-left: auto;
    margin-right: auto;
}

.tableCustomization {
    border: 1px solid #272727;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.tableCustomization.bc {
    border-color: 2px solid green;
}

th, td {
    padding: 8px 8px;
    width: 100px;
}

th {
    height: 16px;
    font-weight: bold;
} */

a {
    text-decoration: none;
    color: #272727;
    display: block;
}

input {
    box-sizing: border-box;
    border-style: groove;
    border-color: gray;
    border-width: 1px;
    user-select: none;
}

.nameInputStyle {
    width: 50ch;
    padding: 8px 8px;
    margin: 8px 0;
}

.periodsInputStyle {
    width: 6ch;
    padding: 8px 8px;
    margin-right: 16px;
    text-transform: uppercase;
}

.urlInputStyle {
    width: 100ch;
    padding: 8px 8px;
    margin: 8px 0;
}

.addPeriodButton {
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;
    border-width: 0.5px;
}

/* .tablePosition {
    position: relative; */
    /* position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%); */
/* } */

/* .inputPosition {
    position: relative; */
    /* position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%); */
/* } */

/* .saveButton {
    background-color: #272727;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
} */

/* inputDiv {
    width: 930px;
    height: 300px;
    border-style: solid;
    border-color: #272727;
    border-width: 1px;
} */

/* wrapper {
    padding: 20px 20px 20px 20px;
}

#block1 {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

#block2 {
    padding-right: 8px;
    float: right;
} */

/* @media(min-width: 768px) {

} */