* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* BODY */

html, body{
    height: 100%;
    width: 100%;
}

body {
	font-size: 100%;
	font: 15px/1.5 Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background: #272727;
    color: whitesmoke;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: gray 3px solid;
    margin-bottom: 40px;
    width: 100%;
}

header :is(h1) {
    text-align: center;
}

/* FOOTER */

footer {
    padding: 20px;
    color: white;
    background-color: #272727;
    text-align: center;
    border-top: gray 3px solid;
    flex-shrink: 0;
}

/* MAIN */

.content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

/* TABLE */

table {
    text-align: center;
}

.table-wrapper{
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    align-items: center;
}

th, td {
    padding: 8px;
    margin: 8px;
    width: 100px;
    border-radius: 4px;
}

td {
    border: 1px solid #272727;
}

th {
    height: 16px;
    font-weight: bold;
    border: 1.5px #272727 solid;
}

/* LINK */

a {
    text-decoration: none;
    color: #272727;
    display: block;
}

/* FLEXBOXES */

.inputContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 8px;
}

.inputContainer input {
    margin-top: 0.5rem;
}

/* SPACERS */

.spacer {
    height: 20px;
}

/* USER INPUT */

input {
    box-sizing: border-box;
    border-style: groove;
    border-color: gray;
    border-width: 1px;
    user-select: none;
}

.userInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

.nameInputStyle {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
}

.periodsInputStyle {
    padding: 8px 8px;
    width: 6ch;
    margin-right: 16px;
    text-transform: uppercase;
}

.urlInputStyle {
    padding: 8px 8px;
    margin: 8px 0;
    justify-content: left;
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
}

.flex-end{
    display: flex;
    align-items: flex-end;
}

/* BUTTONS */

.addPeriodButton {
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;
    border-width: 0.5px;
}

.saveButton {
    /* STYLE */
    background-color: #272727;
    color: white;
    font-size: medium;
    padding: 12px 36px;
    border: none;
    border-radius: 4px;
}

.centerButtonDiv {
    position: relative;
}

.flex-end{
    display: flex;
    align-items: flex-end;
}

@media (min-width: 320px) and (max-width: 480px)  {
    .inputContainer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 70%;
    }
}