* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* BODY */

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 100%;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background: #272727;
    color: whitesmoke;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: gray 3px solid;
    margin-bottom: 40px;
    width: 100%;
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

header {
    text-align: center;
}

header div div a {
    /* text-decoration: none; */
    color: white;
    display: block;
}

.leftFlex {
    justify-self: center;
    margin-right: 20px;
    margin-left: 20px;
}

.rightFlex {
    justify-self: center;
    margin-right: 20px;
    margin-left: 20px;
}

.headerButton {
    background-color: transparent;
}

header div button img:hover {
    background-color: gray;
}

header div button img:active {
    background-color: darkgray;
}

.buttonIsSelected {
    background-color: gray;
    border-radius: 4px;
}

/* FOOTER */

footer {
    padding: 20px;
    color: white;
    background-color: #272727;
    text-align: center;
    border-top: gray 3px solid;
    flex-shrink: 0;
}

footer span {
    font-size: 10px;
}

footer div {
    display: flex;
    justify-content: center;
}

footer div a {
    text-decoration: none;
    color: white;
    display: block;
}

footer div a img {
    height: 1rem;
    width: 1rem;
    padding: 2px;
    margin: 0px 4px 0px 4px;
    border-radius: 4px;
}

footer div a img:hover {
    background-color: gray;
}

footer div a img:active {
    background-color: darkgray;
}

/* MAIN */

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

/* TABLE */

table {
    text-align: center;
}

.table-wrapper {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    align-items: center;
}

th, td {
    padding: 8px;
    margin: 8px;
    width: 100px;
    border-radius: 4px;
}

td {
    border: 1px solid #272727;
    position: relative;
}

th {
    height: 16px;
    font-weight: bold;
    border: 1.5px #272727 solid;
    background-color: #272727;
    color: white;
    vertical-align: top;
}

td a {
    text-decoration: none;
    color: #272727;
    display: block;
}

td button {
    background-color: transparent;
}

td button:hover {
    background-color: lightgray;
    border-radius: 4px;
}

/* FLEXBOXES */

.inputContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 8px;
}

.inputContainer input {
    margin-top: 0.5rem;
}

/* SPACERS */

.spacer {
    height: 20px;
}

/* USER INPUT */

input {
    box-sizing: border-box;
    border-style: groove;
    border-color: gray;
    border-width: 1px;
    user-select: none;
}

.userInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

.nameInputStyle {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
}

.periodsInputStyle {
    padding: 8px 8px;
    width: 6ch;
    margin-right: 16px;
    text-transform: uppercase;
}

.urlInputStyle {
    padding: 8px 8px;
    margin: 8px 0;
    justify-content: left;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

/* BUTTONS */

button:hover {
    transform: scale(0.9);
}

.addPeriodButton {
    text-align: center;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;
    border-width: 0.5px;
}

.addPeriodButton:active {
    background-color: #DDDDDD;
}

.saveButton {
    /* STYLE */
    background-color: #272727;
    color: white;
    font-size: medium;
    padding: 12px 36px;
    border: none;
    border-radius: 4px;
    border: 1px #272727 solid;
}

#saveButtonID:hover {
    background-color: white;
    color: #272727;
}

#saveButtonID:active {
    background-color: #3d3d3d;
    color: white;
}

.centerButtonDiv {
    position: relative;
}

/* SVG IMAGES */

.svgButton {
    width: 30px;
    vertical-align: top;
    border-radius: 4px;
}

#purgeImage, #removeImage {
    padding: 0.5rem;
}

#editImage {
    padding: 0.5rem;
}

.removeLessonImage {
    width: 1.3rem;
    height: 1.3rem;
}

.editLessonImage {
    width: 0.8rem;
    height: 0.8rem;
    padding: 4px;
    color: white;
    background-color: gray;
    border-radius: 2px;
}

/* SCREEN WIDTH */

@media (max-width: 800px) {
    header {
        grid-template-columns: 1fr;
    }
    .rightFlex {
        justify-self: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .inputContainer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 70%;
    }
}